@{
    ViewBag.Title = "Want to connect with me?";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>



<address>
    <a href="https://mail.google.com/" target="_blank">
        <img src="http://icons.iconarchive.com/icons/marcus-roberto/google-play/512/Gmail-icon.png" style="width:50px;height:45px;">
    </a>

    <a href="https://www.facebook.com/" target="_blank">

        <img src="http://www.wittmania.com/wp-content/uploads/2009/11/Facebook-Icon.jpg" style="width:50px;height:45px;">
    </a>

    <a href="https://twitter.com/?lang=en" target="_blank">

        <img src="https://cdn0.iconfinder.com/data/icons/social-flat-rounded-rects/512/twitter_letter-512.png" style="width:50px;height:45px;">
    </a>

 

    
</address>