<h3> University of Illinois at Chicago </h3>
<h4> Master’s Degree, Computer Science, A </h4>
<h5> 2015 – Till date </h5>
<p> Coursework - Computer Algorithms I, Object Oriented language and Environment, Software Engineering, User Interface Design and Programming, Computer Algorithms II, Database Management System.</p>
<br><br>



<h3> S R M University </h3>
<h4> Bachelor’s Degree, Computer Science, A </h4>
<h5> 2009 – 2013 </h5>
<br><br>




<h3> Delhi Public School,Bopal </h3>
<h4> High School </h4>
<h5> 2005 – 2009 </h5>

