<br><br>
    <img src="http://image.shutterstock.com/z/stock-vector-beautiful-hipster-fashion-style-graphic-designer-woman-working-with-tablet-in-front-of-computer-180503726.jpg" class="img-rounded" align="middle" alt="Cinque Terre" width="304" height="236">
<br><br><br>
<h2> The best preparation for tomorrow is doing your best today.</h2>

