

<!--<h2>EXPERIENCE</h2> -->
<h3> Software Engineer </h3>
<h4> Honeywell Technology Solutions, Inc </h4>
<h5> July 2013 – July 2015 (2 years 1 month) | Hyderabad Area, India </h5>
<p>
    Worked in the Aero Displays and Graphics domain- Software development and testing of the Graphic Generation Function.Used Honewyell Proriety tools for automation testing, and C# for developement.

    •Developed and maintained cockpit Displays and Graphic Generation software for Falcon and Augusta Jets using C#.<br>
    •Performed graphic software testing by developing VB test scripts, running the scripts on target hardware connected to the graphic cards and checking results for visual verification and structural coverage gap analysis using TIU, TATs and CodeTest tools.<br>
    •Developed a Six Sigma Certified automation tool application for proof checking the contents of Test Verification Report (TVR) in C# .Net Framework. Projected net savings of $20K man hours.<br>
    •Developed an Android mobile application for a configuration management tool using Android SDK, SQLite and cloud programming.<br>
    •Part of the Build team where I worked on build creation activities (executable for structural coverage) using various compiler options and performed make –file reviews.
</p>

<h3> Engineering Intern </h3>
<h4> Honeywell Technology Solutions, Inc </h4>
<h5> December 2012 – May 2013 (6 months) | Hyderabad Area, India </h5>
<p>
    •Designed a Java Desktop Virtual Machine Management Application using Java threads, JavaMail API, JQuery , JExel and various java UI commands.<br>
    •Worked on a POC to determine the feasibility of remote access of mobile phones (Android, IPhone and Windows) on virtual machines located throughout the Honeywell network.<br>
    •Performed UI/ Functional testing for PeopleSoft modules by writing complex SQL queries and verified results.<br>
    •Remodeled the PeopleSoft application database to resolve redundancy issues using Oracle PL/SQL Analysis, Design, Data Modeling (logical and physical)<br>

    <h3>Intern </h3>
    <h4> Tata Consultancy Services </h4>
    <h5> June 2012 – August 2012 (3 months) | Ahmedabad Area, India </h5>
<p>• Implemented JSP template with an embedded Applet for tracking recent queries, fetching and displaying data from backend DB using JDBC.</p>

<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>


